* {
  box-sizing: border-box;
  interpolate-size: allow-keywords;
}

:root {
  --bgColor: #8DBCC7;
  --details: #065084;
  --hover: #A4CCD9;

  transition: all 0.3s ease;

  background-color: var(--bgColor);
  font-family: 'Roboto';
  font-size: x-large;
  color: var(--details);
}

#board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  width: fit-content;
  gap: 0px;
  margin: auto;
  outline: solid var(--bgColor) 4px;
  transition: outline 0.3s ease;


  button {
    all: unset;
    outline: solid 2px var(--details);
    transition: outline 0.3s ease;
    box-shadow: var(--details) 0px 0px 1px 2px;
    display: block;
    width: 4em;
    height: 4em;
    text-align: center;
  }


}

.options {
  display: flex;
  place-content: center;
  margin: 3em;
  gap: 1em;

  button {
    all: unset;
    width: fit-content;
    outline: 1px black solid;
    padding: 0.2em;
    border-radius: 6px;
    user-select: none;
    background-color: inherit;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 5px rgb(35, 35, 35);
  }

  button:hover {
    background-color: var(--hover);
  }
}


#results {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}